<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.krosskomics">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <meta-data android:name="com.facebook.sdk.ApplicationId"
        android:value="@string/facebook_app_id"/>

    <meta-data
        android:name="com.google.firebase.messaging.default_notification_channel_id"
        android:value="@string/default_notification_channel_id" />

    <application
        android:name=".KJKomicsApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="SampleApp"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        android:theme="@style/AppTheme">
        <activity android:name=".splash.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.krosskomics.home.activity.MainActivity"
            android:configChanges="screenSize|orientation"
            android:screenOrientation="portrait"
            android:launchMode="singleTask">

        </activity>

        <activity android:name=".login.activity.LoginIntroActivity"
            android:configChanges="screenSize|orientation"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"/>

        <activity android:name=".login.activity.LoginActivity"
            android:configChanges="screenSize|orientation"
            android:screenOrientation="portrait"/>

        <activity android:name=".ongoing.activity.OnGoingActivity"
            android:configChanges="screenSize|orientation"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"/>

        <activity android:name=".waitfree.activity.WaitFreeActivity"
            android:configChanges="screenSize|orientation"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"/>

        <activity android:name=".ranking.activity.RankingActivity"
            android:configChanges="screenSize|orientation"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"/>

        <activity android:name=".ranking.activity.RankingDetailActivity"
            android:configChanges="screenSize|orientation"
            android:screenOrientation="portrait"/>


        <activity android:name=".genre.activity.GenreActivity"
            android:configChanges="screenSize|orientation"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"/>

        <activity android:name=".genre.activity.GenreDetailActivity"
            android:configChanges="screenSize|orientation"
            android:screenOrientation="portrait"/>

        <activity android:name=".search.activity.SearchActivity"
            android:configChanges="screenSize|orientation"
            android:screenOrientation="portrait"/>

        <activity android:name=".series.activity.SeriesActivity"
            android:launchMode="singleTask"
            android:configChanges="screenSize|orientation"
            android:screenOrientation="portrait"/>

        <activity android:name=".viewer.activity.ViewerActivity"
            android:configChanges="screenSize|orientation"
            android:screenOrientation="portrait"/>


        <activity android:name=".coin.activity.CoinActivity"
            android:configChanges="screenSize|orientation"
            android:screenOrientation="portrait"/>

        <activity android:name=".library.activity.LibraryActivity"
            android:configChanges="screenSize|orientation"
            android:screenOrientation="portrait"/>

        <activity android:name=".library.activity.DownloadEpActivity"
            android:configChanges="screenSize|orientation"
            android:screenOrientation="portrait"/>

        <activity android:name=".event.activity.EventActivity"
            android:configChanges="screenSize|orientation"
            android:screenOrientation="portrait"/>

        <activity android:name=".notice.activity.NoticeActivity"
            android:configChanges="screenSize|orientation"
            android:screenOrientation="portrait"/>

        <activity android:name=".settings.activity.SettingsActivity"
            android:configChanges="screenSize|orientation"
            android:screenOrientation="portrait"/>

        <activity android:name=".settings.activity.ChangeNickNameActivity"
            android:configChanges="screenSize|orientation"
            android:screenOrientation="portrait"/>

        <activity android:name=".settings.activity.ChangeEmailActivity"
            android:configChanges="screenSize|orientation"
            android:screenOrientation="portrait"/>

        <activity android:name=".settings.activity.ChangePwActivity"
            android:configChanges="screenSize|orientation"
            android:screenOrientation="portrait"/>

        <activity android:name=".webview.WebViewActivity"
            android:configChanges="screenSize|orientation"
            android:screenOrientation="portrait"/>

        <activity android:name=".mynews.activity.MyNewsActivity"
            android:configChanges="screenSize|orientation"
            android:screenOrientation="portrait"/>

        <activity android:name=".comment.activity.CommentActivity"
            android:configChanges="screenSize|orientation"
            android:screenOrientation="portrait"/>



        <!-- 3rd party -->
        <activity android:name="com.facebook.FacebookActivity"
            android:configChanges= "keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />
        <activity android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>

        <provider android:authorities="com.facebook.app.FacebookContentProvider1234"
            android:name="com.facebook.FacebookContentProvider"
            android:exported="true" />

        <service
            android:name=".fcm.MyFirebaseMessagingService"
            android:stopWithTask="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

    </application>

</manifest>